<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/index.css" />
    <title>MiniChallenge Clone</title>
  </head>
  <body>
    <nav class="navbar">
      <h1 class="title">Welcome to the Foris Mini Challenge</h1>
    </nav>
    <section class="section--first">
      <p>
        ▶️ To start this challenge you must send a <strong>POST</strong> request
        to the <a><%=CONSTANTS.URI%>/login</a> with body
        <code
          >{"username": "foris_challenge", "password": "ForisChallenge"}</code
        >.
      </p>
      <p>▶️ Then follow the instructions.</p>
      <p>▶️ Good luck!</p>
      <p>▶️ Here are the valid uris with their allowed methods.</p>
    </section>
    <section>
      <h2 class="subtitle">List of valid URIS and methods</h2>
      <main class="card_container">
        <article class="card">
          <h3>/login:</h3>
          <p>Allowed methods: <strong>POST</strong>.</p>
          <p>Requires authentication: No.</p>
          <p>
            Required body:
            <code
              >{"username": "foris_challenge", "password":
              "ForisChallenge"}</code
            >.
          </p>
        </article>
        <article class="card">
          <h3>/challenge:</h3>
          <p>Allowed methods: <strong>GET</strong>.</p>
          <p>Requires authentication: Yes.</p>
        </article>
        <article class="card">
          <h3>/dumps/{dump_type}:</h3>
          <p>Allowed methods: <strong>GET</strong>.</p>
          <p>Requires authentication: Yes.</p>
        </article>
        <article class="card card--big">
          <h3>/validate:</h3>
          <p>
            🚧 This is a method to validate your answer. Be careful you can only
            submit this request once every hour, NUMBER_OF_GROUPS and
            YOUR_ANSWER must be sent as a number. 🚧
          </p>
          <p>Allowed methods: <strong>POST</strong>.</p>
          <p>Requires authentication: Yes.</p>
          <p>
            Required_body:
            <code
              >{"number_of_groups": NUMBER_OF_GROUPS, "answer":
              YOUR_ANSWER}</code
            >.
          </p>
          <p>
            <code>NUMBER_OF_GROUPS</code>: Is the number of groups present in
            the table <code>group</code> of the given dump. By giving this you
            prove that you successfully inspect your database. <br />
            <code>YOUR_ANSWER</code>: Is the answer of the question asked in the
            in the /challenge uri.
          </p>
          <p>Response: Can be correct answer or incorrect answer.</p>
        </article>
      </main>
    </section>
    <footer>
      <p>Made with ❤️ by Diego Fábrega.</p>
    </footer>
  </body>
</html>
